*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cabecalho > h1{ 
    background-color: #79cef5;

} 
.cabecalho > h2{ 
    background-color: #5eb3da;
}
.cabecalho > header { 
    background-color: #4291b6;
}