@import url("./bp-phones.css");
@import url("./bp-tablets.css");
@import url("./bp-landscape-tablets.css");
@import url("./bp-laptops.css");
@import url("./bp-large-laptops.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

html{
    font-family: "Open Sans";
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 10%;
}
li > img{
    width: 5%;
}
.rodape > li{
    filter: invert(100%);
}
.cont1{
    background-color: #bae8f3;
}
.cont2{
    background-color: #79cef5;
}
.rodape{
    /*background-color: black;*/
    color: white;
}