@import url("./bp-phones.css");
@import url("./bp-tablets.css");
@import url("./bp-landscape-tablets.css");
@import url("./bp-laptops.css");
@import url("./bp-large-laptops.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

html{
    font-family: "Open Sans";
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    height: 10%;
    max-width: 89%;
}
.cabecalho > img{
    width: 10%;
}
#ul-navbar-cabecalho{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 6%;
}
#ul-navbar-cabecalho > li{   
    padding: 0 5%;
}

.features{
    display: flex;
    list-style: none;
}
.features > li > img{
    width: 20%;
}

.cont1{
    background-color: #dcf8ff;
}
.cont2{
    background-color: #6ebee4;
}
#lista-rodape{
    filter: invert(100%);
}
.rodape{
    background-color: black; /*poggers*/
    color: white;
}