@import url("./bp-phones.css");
@import url("./bp-tablets.css");
@import url("./bp-landscape-tablets.css");
@import url("./bp-laptops.css");
@import url("./bp-large-laptops.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

html{
    font-family: "Open Sans";
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------- 👇 Estilos do cabeçalho 👇 ------------------- */

.cabecalho{
    display: flex;
    justify-content: space-between;
    height: 10%;
    max-width: 89%;
}
.cabecalho > img{
    width: 10%;
}
#ul-navbar-cabecalho{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 6%;
}
#ul-navbar-cabecalho > li{   
    padding: 0 5%;
}

/* ------------------- 👇 Estilos do conteúdo 👇 ------------------- */
/* ----- Textos explicativos ----- */
.cont1{
    background-color: #c3e2ea;
}
.cont2{
    background-color: #6ebee4;
}
#redirBtn{
    text-decoration: none;
    color: black;
    background-color: rgb(0, 70, 192);
    font-size: 1.3rem;
    font-weight: 800;
    border-radius: 5px;
    padding: 5px;
}
.txt-explicativo{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
#img-ciclista{
    width: 50vw;
}

/* ----- Estilos do conteúdo das coberturas ----- */
.features{
    display: flex;
    list-style: none;
}
.lista-conteudo{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.lista-conteudo img{
    width: 60px;
    height: 60px;
}
.txtLista-conteudo{
    display: flex;
    flex-direction: column;
}

/* ------------------- 👇 Estilos do rodapé 👇 ------------------- */
.rodape{
    background-color: rgb(27, 27, 27); /*poggers*/
    color: white;
}

#lista-rodape{
    filter: invert(100%);
}